.index1{
    // .sw-swiper{
    //     padding: 40px;
    // }
    .banner{
        position: relative;
        height: 400px;
        .icon,.title,.content{
            position: absolute;
            left: 0;
            right: 0;
            color: rgba(17, 17, 17, 0.719);
        }
        .icon{
            top: 0;
            bottom: 0;
            z-index: 2;
            filter: blur(3px);
            border: 2px solid #eee;
        }
        // .icon::after{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     z-index: -1;
        // }
        
        .title{
            top: 0;
            z-index: 5;
            font-size: 40px;
            text-align: center;
            padding: 50px;
         
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        .text{
            color: #fff;
            // background-color: rgba(0, 0, 0, 0.3);
            background: rgba(254, 100, 139, 0.5);
            padding: 10px 20px;
            border-radius: 8px;
        }
        .content{
            bottom: 0;
            z-index: 5;
            font-size: 28px;
            text-align: center;
            padding: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            .text{
                padding: 20px 40px;
            }
        }
    }
    .warp{
        display: flex;
        flex-wrap: wrap;
        padding: 18px;
        .item{
            margin: 20px;
            margin-bottom: 10px;
            .img{
                position: static;
                width: 320px;
                height: 230px;
                border-radius: 8px;
            }
        }
    }
    .at-modal__action{
        margin-bottom: 30px;
    }
}