.index{
    // background:linear-gradient(to bottom,#FB6A89 0%,#fff 20%);
   .warp1{
       display: flex;
       flex-wrap: wrap;
       padding: 18px 0;
       .item{
            margin: 18px;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            .img{
                display: block;
                width: 315px;
                height: 550px;
                border-radius: 8px;
            }
         
       }
   }
    .modal-input{
        padding: 20px 0;
    }
    .at-input {
        margin: 0 50px;
    }
    input { 
        vertical-align:middle;
        line-height:20px;  /*line-height must be equal to height*/  
    } 
    input::-webkit-input-placeholder {
        color: #ccc;
    }
    input::-moz-input-placeholder {
    color: #ccc;
    }
    input::-ms-input-placeholder {
    color: #ccc;
    }
    .menu{
        .warp-me{
            border-radius: 50px;
            padding: 14px 26px;
            padding-left: 16px;
        }
    }
}