.indexed{
    .at-input{
        background: transparent;
    }
    .warp{
        // padding: 35px 22px;
        margin: 25px;
        // border-radius: 8px;
        .item{
            display: flex;
            align-items: center;
            padding: 14px 0;
            // border-bottom: 1px solid #eee;
            // .icon1{
            //     width: 50px;
            //     height: 50px;
            //     background: url('../../static/img/love6.png') center center no-repeat;
            //     background-size: 90%;
            // }
            // .icon2{
            //     width: 50px;
            //     height: 50px;
            //     background: url('../../static/img/sj.png') center center no-repeat;
            //     background-size: 90%;
            // }
            margin-bottom: 30px;
            .picker{
                font-size: 34px;
                color:#aaa;
                margin-left: 32px;
                padding: 20px 0;
            }
        }
    }
    .weui-btn:after{
        border: 0;
    }
    .button{
        padding: 2px 20px;
      
    }
}