.index{
    .warp{
        padding: 35px 22px;
        margin: 25px;
        background-color: #fff;
        border-radius: 8px;
        .item{
            display: flex;
            align-items: center;
            padding: 14px 0;
            border-bottom: 1px dashed #eee;
            .icon1{
                width: 50px;
                height: 50px;
                background: url('../../static/img/love6.png') center center no-repeat;
                background-size: 90%;
            }
            .icon2{
                width: 50px;
                height: 50px;
                background: url('../../static/img/sj.png') center center no-repeat;
                background-size: 90%;
            }
            .picker{
                font-size: 34px;
                color:#aaa;
                margin-left: 32px;
                padding: 20px 0;
            }
        }
    }
    .button{
        display: flex;
        justify-content: center;
        padding: 30px;
        margin-top: 30px;
        .bt-1,.bt-2{
            border: 0;
            font-size: 30px;
            padding: 0px 30px;
            color: #fff;
        }
    }
}